.table-title {
  font-size: 18px;
}

mat-form-field,
input {
  width: 100%;
}
mat-card,
mat-card-content {
  width: 100%;
}
table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.services-not-found-message {
  margin-top: 10%;
}

mat-spinner {
  margin-left: auto;
  margin-right: auto;
}

mat-icon {
  vertical-align: middle;
}

a {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

a:hover {
  color: #3f51b5;
}


@media screen and (max-width: 768px) {
  mat-form-field,
  input {
    width: 100%;
    margin-top: 3px;
  }
 table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    font-size: 5px;
  }
  td {
    padding-left: 100px;
  }
  mat-icon {
    height:15px !important;
    width:15px !important;
    font-size:15px !important;
  }
  .table-column-size {
    font-size: small;
  }
  .table-columns {
    text-align: center;
  }
  .service-status {
    width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
