<mat-card class="w-75 mt-5">
    <mat-card-content>
        <div class="alert alert-danger" role="alert">
            <h2 class="alert-heading"><mat-icon>error</mat-icon> Page Not Found</h2>
            <p>Looks like you have followed a broken link or entered a URL that does not exist on this site.</p>
            <a routerLink="/"><mat-icon class="p-0">chevron_left</mat-icon>Back to our site</a>
            <hr>
            <p class="mb-0">If you believe this is the correct site and you were not expecting a <span class="not-found"> 404 page not found</span>
                please inform us using the contacts provided so that our developers can look into the problem.</p>
        </div>
    </mat-card-content>
</mat-card>
