 <!-- ======= Footer ======= -->
  <footer id="footer" class="mt-5">
    <div class="container">
      <h3 class="logo">WASHIFY</h3>
      <p>Expert cleaning solutions for your everyday and special garments.</p>
      <div class="social-links">
        <a class="me-3 btn-square border rounded-circle nav-fill"><i class="fab fa-facebook-f text-light"></i></a>
        <a class="me-3 btn-square border rounded-circle nav-fill"><i class="fab fa-twitter text-light"></i></a>
        <a class="me-3 btn-square border rounded-circle nav-fill"><i class="fab fa-instagram text-light"></i></a>
        <a class="btn-square border rounded-circle nav-fill"><i class="fab fa-linkedin-in text-light"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Washify</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/ -->
        Designed by <a href="mailto:codebrain19@gmail.com?subject=Indicate if its enquiry or service request">
          <span class="designed-by">Codebrain</span>
        </a>
      </div>
    </div>
  </footer><!-- End Footer -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>