<!-- Service Statistics -->
<mat-card class="service-statistics" *ngIf="stats">
  <mat-card-content>
    <div class="row">
      <div class="col-md-4 text-center">
        <ngx-gauge
          [size]="130"
          [value]="stats.users"
          label="Users"
          [append]="gaugeAppendText"
          [max]="totalUsers"
          [thick]=" thickValue"
          [foregroundColor]="foregroundColor"
        >
        </ngx-gauge>
      </div>
      <div class="col-md-4 text-center">
        <ngx-gauge
          [size]="130"
          [value]="stats.administrators"
          label="Administrators"
          [append]="gaugeAppendText"
          [max]="totalUsers"
          [thick]=" thickValue"
          [foregroundColor]="foregroundColor"
        >
        </ngx-gauge>
      </div>
      <div class="col-md-4 text-center">
        <ngx-gauge
          [size]="130"
          [value]="stats.total"
          label="Total Users"
          [append]="gaugeAppendText"
          [max]="totalUsers"
          [thick]=" thickValue"
          [foregroundColor]="foregroundColor"
        >
        </ngx-gauge>
      </div>
    </div>
  </mat-card-content>
</mat-card>
