<mat-spinner class="mt-5" *ngIf="isLoading"></mat-spinner>
<mat-card class="container mt-5" *ngIf="!isLoading">
  <mat-card-title class="mb-3">Password Reset</mat-card-title>
  <mat-card-content>
     <div class="alert alert-danger" role="alert" *ngIf="errorMsg">
      <h2 class="alert-heading"><mat-icon>error</mat-icon> Password Not Updated!</h2>
      <p>{{ errorMsg }}</p>
      <hr>
      <p class="mb-0">If the above message is not helping, please ensure you are connected to internet and try refreshing the page and try again.</p>
    </div>
    <form (submit)="onResetPassword(resetPasswordForm)" #resetPasswordForm="ngForm">
      <!-- New Password -->
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" name="newPassword" #newPassword="ngModel" ngModel required/>
        <mat-error *ngIf="newPassword.invalid">New password is <strong>required</strong></mat-error>
      </mat-form-field>
      <!-- New Password Confirm -->
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" name="newPasswordConfirm" #newPasswordConfirm="ngModel" ngModel required/>
        <mat-error *ngIf="newPasswordConfirm.invalid">New password confirmation is <strong>required</strong></mat-error>
      </mat-form-field>
      <!-- Login button -->
      <button class="mt-3 w-100" type="submit" mat-raised-button [disabled]="resetPasswordForm.invalid">Reset</button>
    </form>
  </mat-card-content>
</mat-card>
