
mat-spinner {
  margin-left: auto;
  margin-right: auto;
}

.btn-skip {
  display: inline-block;
  padding: 10px 40px 12px 40px;
  border-radius: 50px;
  border: 2px solid #3F51B5;
  color: #3F51B5;
  font-size: 14px;
  font-weight: 400;
  font-weight: 600;
  transition: 0.3s;
  background: #3F51B5;
  color: #fff;
  cursor: pointer;
}
