<!-- Service Statistics -->
<mat-card class="service-statistics" *ngIf="stats">
  <mat-card-content>
    <div class="row">
      <div class="col-md-3 text-center">
        <!-- <ngx-gauge
          [size]="130"
          [value]="stats.basic"
          label="Basic Services"
          [append]="gaugeAppendText"
          [max]="totalServices"
          [thick]=" thickValue"
          [foregroundColor]="foregroundColor"
        >
        </ngx-gauge> -->
      </div>
      <div class="col-md-3 text-center">
        <!-- <ngx-gauge
          [size]="130"
          [value]="stats.advanced"
          label="Advanced Services"
          [append]="gaugeAppendText"
          [max]="totalServices"
          [thick]=" thickValue"
          [foregroundColor]="foregroundColor"
        >
        </ngx-gauge> -->
      </div>
      <div class="col-md-3 text-center">
        <!-- <ngx-gauge
          [size]="130"
          [value]="stats.premium"
          label="Premium Services"
          [append]="gaugeAppendText"
          [max]="totalServices"
          [thick]=" thickValue"
          [foregroundColor]="foregroundColor"
        >
        </ngx-gauge> -->
      </div>
       <div class="col-md-3 text-center">
        <!-- <ngx-gauge
          [size]="130"
          [value]="stats.total"
          label="Total Services"
          [append]="gaugeAppendText"
          [max]="totalServices"
          [thick]=" thickValue"
          [foregroundColor]="foregroundColor"
        >
        </ngx-gauge> -->
      </div>
    </div>
  </mat-card-content>
</mat-card>
