mat-spinner {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
}

@media screen and (max-width: 768px) {
  mat-spinner {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
  .logout-spinner {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  }
}
