<mat-card>
  <mat-card-title class="mb-3">Add Payment Details</mat-card-title>
  <mat-card-content>
    <div class="alert alert-danger global-service-error mt-3" role="alert" *ngIf="errorMsg">
      <mat-icon>error</mat-icon> {{ errorMsg }}
    </div>
    <form (submit)="onAddPaymentDetails(paymentDetailsForm)" #paymentDetailsForm="ngForm" autocomplete="off">
      <!-- Account name -->
      <mat-form-field class="example-full-width">
        <mat-label>Account Name</mat-label>
        <input matInput type="text" name="accountName" #accountName="ngModel" ngModel required/>
        <mat-error *ngIf="accountName.invalid">Account name is<strong>required</strong></mat-error>
      </mat-form-field>
      <!-- Bank Name -->
      <mat-form-field class="example-full-width">
        <mat-label>Bank Name</mat-label>
        <mat-select name="bankName" ngModel #bankName="ngModel" required>
          <mat-option *ngFor="let bankName of bankNames" [value]="bankName">
            {{ bankName }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="bankName.invalid">Bank name is <strong>required</strong></mat-error>
      </mat-form-field>
      <!-- Branch Code -->
      <mat-form-field class="example-full-width">
        <mat-label>Branch Code</mat-label>
        <input matInput type="text" name="branchCode" ngModel />
      </mat-form-field>
      <!-- Account Number -->
      <mat-form-field class="example-full-width">
        <mat-label>Account Number</mat-label>
        <input matInput type="number" name="accountNumber" ngModel #accountNumber="ngModel" required/>
        <mat-error *ngIf="accountNumber.invalid">Account number is <strong>required</strong></mat-error>
      </mat-form-field>
      <!-- Reference -->
      <mat-form-field class="example-full-width">
        <mat-label>Reference</mat-label>
        <input matInput type="text" name="reference" ngModel />
      </mat-form-field>
      <!-- Button -->
      <button type="submit" [disabled]="paymentDetailsForm.invalid" color="primary" mat-raised-button>Add</button>
    </form>
  </mat-card-content>
</mat-card>
