
.mat-card-title {
  font-size: 18px;
}

mat-form-field,
mat-radio-group {
  width: 100%;
}

mat-radio-button {
  width: 100%;
}

/* button {
    display: block;
    margin-left: auto;
} */
mat-spinner {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

mat-icon {
  vertical-align: middle;
}

