.table-title {
  font-size: 18px;
}

mat-form-field,
input {
  width: 50%;
}
mat-card,
mat-card-content {
  width: 100%;
}
table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.users-not-found-message {
  margin-top: 10%;
}

mat-spinner {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

mat-icon {
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  mat-form-field,
  input {
    width: 100%;
    margin-top: 3px;
  }
   table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  mat-icon {
    height:15px !important;
    width:15px !important;
    font-size:15px !important;
  }
  .table-column-size {
    font-size: small;
  }
  .table-columns {
    text-align: center;
  }
  .service-status {
    width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
