<app-user-stats></app-user-stats>

<mat-card class="mt-3 p-4">
  <div class="row">
    <span class="table-title fw-bold">All Users</span>
  </div>
</mat-card>

<div class="alert alert-danger mt-3" role="alert" *ngIf="errorMsg && numUsers">
  <mat-icon>error</mat-icon> {{ errorMsg }}
</div>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card class="mt-4" *ngIf="numUsers && !isLoading">
  <mat-card-content>
    <div>
      <div class="search-div text-end">
        <mat-form-field class="w-100" appearance="outline">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput type="text" name="searchKey" [(ngModel)]="searchKey" placeholder="Type here to search..." (keydown)="applyFilter()" autocomplete="off"/>
          <button *ngIf="searchKey" class="clear-btn" (click)="onSearchClear()" mat-button matSuffix mat-icon-button aria-label="Clear">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="">
        <table mat-table [dataSource]="dataSource" cellspacing="" matSort (matSortChange)="announceSortChange($event)">
            <!-- Username Column-->
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef class="pe-2">Username</th>
                <td mat-cell *matCellDef="let element" class="table-column-size text-start">
                  <p class="service-status m-0 p-0">{{element.preferredName}}</p>
                </td>
            </ng-container>
            <!-- Email Time Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email">Email Address</th>
                <td mat-cell *matCellDef="let element" class="table-column-size">
                  <p class="service-status m-0 p-0">{{ element.email}}</p>
                </td>
            </ng-container>
            <!-- Phone Method Column -->
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef class="pe-2">Phone Number</th>
                <td mat-cell *matCellDef="let element" class="table-column-size table-columns">
                  <p class="service-status m-0 p-0">
                    {{ element.phone ? ((element.phone | slice:0:3) +" "+ (element.phone | slice:3:6) +" "+ (element.phone | slice:6:10)) : 'Not provided'}}
                  </p>
                </td>
             </ng-container>
            <!-- Role Column -->
            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxShow fxHide.lt-sm sortActionDescription="Sort by role">User Role</th>
                <td mat-cell *matCellDef="let element" class="table-column-size">{{ element.role}}</td>
            </ng-container>
            <!-- Services requested Column -->
            <ng-container matColumnDef="servicesRequested">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by services requested">Services Requested</th>
                <td mat-cell *matCellDef="let element" class="table-column-size table-columns">{{ element.services.length}}</td>
            </ng-container>
            <!-- View More Column -->
            <ng-container matColumnDef="viewMore">
              <th mat-header-cell *matHeaderCellDef>View More</th>
              <td mat-cell *matCellDef="let element" class="table-columns">
                <button mat-mini-fab color="basic" class="me-2" (click)="onViewUserDialog(element)" matTooltip="View this item">
                    <span class="material-icons">open_in_new</span>
                  </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator class="mt-0"
          [length]="totalUsers"
          [pageSize]="limit"
          [pageSizeOptions]="pageSizeOptions"
          showFirstLastButtons
          aria-label="Select page"
          (page) = "onPageChanged($event)">
        </mat-paginator>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<!-- Show if not services returned -->
<mat-card class="users-not-found-message" *ngIf="!numUsers && !isLoading">
  <mat-card-content>
     <div class="alert" role="alert">
      <h2 class="alert-heading"><mat-icon>error</mat-icon> No Users Found!</h2>
      <p>{{ errorMsg }}</p>
      <hr>
      <p class="mb-0">Might be that no user signed up yet or the page you requested does not exists.</p>
    </div>
  </mat-card-content>
</mat-card>

